body { color: #000000; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#formats {
  clear: both;
  background-color: #FFF;
}

#footer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: serif;
}
